.player-input-container {
  margin: 0 auto;
}

.actions-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  min-width: 700px;
}

.entry-container {
  margin: 1rem;
}