.event-log {
  border: black;
  border-style: solid;
  border-width: thin;
  max-width: 400px;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.event-log-title {
  font-size: 16pt;
  font-weight: bold;
  padding: 0.25rem;
  margin-bottom: 0.25rem;
  background-color: #dddddd;
}

.event-list {
  padding: 0.25rem;
  height: 300px;
  overflow: scroll;
}

.event-text {
  padding-bottom: 0.1rem;
  display: flex;
}

.user {
  font-weight: bold;
}

.tile-word {
  font-style: italic;
}
